@{ 
    int x = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRM.RAZOR</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        @ViewData["header"] 
    </header>
    <div class="container row">
        <div class="sidebar-1">
            <div class="inner-sidebar-1">
                @ViewData["sidebar"] @{++x;} @x
            </div>
        </div>
        <div class="content">
            <div class="inner-content">
                @RenderBody()
            </div>
        </div>
        <div class="sidebar-2">
            <div class="inner-sidebar-2">
                @ViewData["sidebar"] @{++x;} @x
            </div>
        </div>
    </div>

    <footer>
        @ViewData["footer"]
    </footer>
</body>
</html>
